{% extends 'prilogenie111/my_template.html' %}

{% block content %}

    <h2>Second page with record info</h2>

    <p>My Record Info</p>

    <p>
        {{ my_record.title }} <br>
        {{ my_record.text }} <br>
        {{ my_record.my_field_1 }} <br>
        {{ my_record.my_field_2 }} <br>
        {{ my_record.my_field_3 }} <br>
        {{ my_record.my_field_4 }} <br>
    </p>

    <br>
    <br>
    <button onclick="f()">На главную</button>

    <script>
        function f() {
            window.location = "/";
        }
    </script>

{% endblock %}
